@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Honk&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: rgb(235, 235, 229);

  background-image: linear-gradient(
      to top,
      rgba(9, 32, 63, 0.449) 0%,
      rgba(83, 120, 149, 0.603) 100%
    ),
    url(characters/fondo.jpg);
  background-size: cover;
}

h1 {
  margin: 20px 0;
  font-family: "Honk", system-ui;
  font-size: 60px;
}

.card__header {
  font-family: "Atma", system-ui;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
.card {
  width: 350px;
  height: auto;
  background-color: #c2c2c2;
  border-radius: 6px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
  transition: 1s;
  cursor: pointer;
}
.card__body {
  height: 450px;
  margin: 14px 0;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 1s;
}
.card:hover {
  background-color: rgba(194, 194, 194, 0.246);
  transition: 1s;
}

.card:hover img {
  transform: scale3d(1.2, 1.2, 1.2);
  transition: 1s;
}
.card__footer {
  font-family: "Atma", system-ui;
  font-size: 16px;
}
